In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df=pd.read_csv("spam.csv")
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [10]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [11]:
df=df.dropna()

In [12]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [13]:
x = df.Category
y = df.Message

In [14]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.20)
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_train=cv.fit_transform(xtrain)
x_train.toarray()

array([[1, 0],
       [1, 0],
       [1, 0],
       ...,
       [1, 0],
       [1, 0],
       [1, 0]])

In [15]:
from sklearn.naive_bayes import MultinomialNB

In [16]:
model=MultinomialNB()

In [17]:
model.fit(x_train,ytrain)

MultinomialNB()

In [18]:
x_test=cv.transform(xtest)

In [19]:
x_test.toarray()

array([[1, 0],
       [1, 0],
       [1, 0],
       ...,
       [1, 0],
       [1, 0],
       [1, 0]])

In [20]:
model.score(x_test,ytest)

0.004484304932735426

In [21]:
emails=['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...','Ok lar... Joking wif u oni...']

In [22]:
cv_emails=cv.transform(emails)

In [23]:
model.predict(cv_emails)

array(["Sorry, I'll call later", "Sorry, I'll call later"], dtype='<U790')